:root {
  --primary-color: #842a7d;
  --primary-color-light: #8fd7da;
  --primary-color-dark: #e9f1f7;
  --secondary-color: #e0b354;
  --color-link: #842a7d;
  --color-font: #842a7d;
  --dark-grey: #2b2b2b;
  --light-grey: #b9b9c4;
  --color-white: #fff;
  --font-bold: 700;
  --font-medium: 500;
  --font-normal: 400;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400; /* font-variant: small-caps; line-height: 1.6; */
  font-size: 18px; /* Sets the font size to 16px  Sets the line-height to 1.6 */
  background-color: var(--primary-color-light);
  color: var(--color-font);
  height: 100%;
  width: 100%;
}

main {
  display: block;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

main > .button {
  margin-top: 15px;
}

section {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

form {
  max-width: 500px;
  margin: 15px auto;
}

h1 {
  font-size: 50px;
  font-weight: var(--font-bold);
  font-style: italic;
}

h2 {
  font-size: 24px;
  font-weight: var(--font-bold);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-normal);
}

p {
  text-align: justify;
}

span {
  font-weight: var(--font-bold);
}

svg {
  position: relative;
  left: -100px;
}

a {
  color: var(--primary-color);
  transition: color 0.3s ease-in-out, box-shadow 0.9s ease-in-out;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

a:visited {
  /* visited link */
  color: var(--color-link);
}

/* li {
  padding: 5px;
  background-color: inherit;
} */

li a:hover,
li a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
  color: var(--color-white);
  box-shadow: inset 200px 0 0 0 var(--primary-color);
}

a:active {
  /* selected link */
  color: var(--color-link);
}

input,
select,
.button {
  font-family: inherit;
}

.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;   /* takes the font from the outer container */
  font-family: inherit;
  background-color: var(--primary-color); /* styles the background color */
  color: var(--color-white); /* font color */
  text-decoration: none;  /* text decoration(unerline, etc.) of the button */
  padding: 15px 20px; /* adds spacing to the button */
  border-radius: 5px;

  /* border-bottom: 3px solid rgba(0, 0, 0, 0.3);   /* gives the button a bottom */

  transition: all 0.5s;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
#submit-button:hover,
#submit-button:focus {
  cursor: pointer; /* lets the mouse appear as a hand when hovering over the button */
  opacity: 0.8; /* reduces the opacity of the button to 80% */
}

.button-secondary {
  background-color: var(--secondary-color);
  color: var(--dark-grey);
}

.navigation-list__item--active {
  text-decoration: none;
}

.navigation-list {
  list-style-type: none;
  font-weight: var(--font-medium);
}

.navigation-list__item::before {
  background-color: var(--primary-color);
  content: "";
  inset: 0;
  transform: scaleX(0);
  transform-origin: top;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.navigation-list__item:hover::before {
  color: var(--primary-color-light);
  transform: scaleX(1);
  transform-origin: center;
}

.navigation-list__item:hover::before {
  filter: grayscale(20%) opacity(0.8);
  background-color: var(--light-grey);
  color: var(--color-white);
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.logo-kubat {
  width: auto;
  height: 2.8rem;
}

.profile__portrait {
  float: left;
  max-width: 100%;
  max-height: auto;
  width: 250px;
  height: auto;
  margin-right: 50px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: static;
  flex-shrink: 0;
}

.page-footer img {
  padding: 0 5px;
}

.profile {
  max-width: 700px;
  margin: 10rem auto;
  text-align: left;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.tech-icon {
  width: 70px;
  height: auto;
}

.container {
  text-align: center;
  padding: 10px;
}

#about-tech {
  padding: 15px 50px;
}

#contact-message {
  margin-top: 0;
  height: 100px;
  width: 60%;
  line-height: 100%;
  resize: vertical;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px;
  outline: 0;
}

#submit-button {
  margin-top: 15px;
  border: none;
  display: inline-block;   /* takes the font from the outer container */
  font-family: inherit;
  background-color: var(--primary-color); /* styles the background color */
  color: var(--color-white); /* font color */
  text-decoration: none;  /* text decoration(unerline, etc.) of the button */
  padding: 15px 20px; /* adds spacing to the button */
  border-radius: 5px;
  transition: all 0.5s;
}

#first-intro {
  font-size: 18px;
}

#contact-me {
  margin-top: 15px;
}

#contact-email,
#contact-name {
  border-radius: 5px;
  line-height: 2px;
  background-color: #fff;
  border: 1px solid var(--primary-color);
  transition: all 0.3s;
  margin-bottom: 15px;
  outline: 0;
  width: 60%;
  padding: 5px;
}

.grid {
  padding: 0 50px;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%; /* end grid fallsback */
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
    text-align: center;
  }

  .grid__item {
    background-color: #e1b5cb;
    padding: 20px;
    width: auto;
    min-height: auto;
    margin: 0;
    border-radius: 5px;
    transition: 1s all;
  }

  .grid__item:last-child {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
  }
}

.grid__item-links {
  /* margin-bottom: 15px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
}

.grid__item-span {
  background: var(--primary-color);
  color: #fff;
  font-weight: var(--font-normal);
  padding: 10px;
}

.grid__item:hover {
  background-color: var(--light-grey);
  color: var(--primary-color);
}

.cloud-right {
  animation: 20s cloud-move infinite alternate linear;
}

.cloud-top {
  animation: 23s cloud-move-reverse infinite alternate linear;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 20px;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(400px, 50px);
  }

  to {
    transform: translate(10px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(0, 40px);
  }

  to {
    transform: translate(300px, 40px);
  }
}
